@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

:root {
--soft-cyan: #66e2dc;
--soft-red: #fa7453;
--light-orange: #ffb964;
--light-grayish-orange:#fcfaf9;
--very-dark-black: #191826;
}

body{
background-image: url(assets/bg-main-desktop.png);
background-repeat: no-repeat
}

.logo{
    margin: 3rem 0 0 4rem;
}

.row {
display: flex;
justify-content: space-around;
}

.row h1 {
font-family: 'IBM Plex Sans Bold', sans-serif;
font-size: 88px;
line-height: 88px;
word-spacing: -1px;
position: relative;
top: 8rem;
left: 4rem;
width: 1015px;
}

.row p {
font-family: 'IBM Plex Sans', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 34px;
position: relative;
top: 10rem;
left: 4rem;
width: 825px;
}

.pattern-1{
width: 300px;
height: 440px;
margin-top: -2rem;
margin-right: -5rem;
}

/* BLACK CARD SECTION */

.dark_row {
background-color: var(--very-dark-black);
background-image: url(assets/bg-pattern-2.svg);
background-repeat: no-repeat;
background-position: top center;
width: 1310px;
height: 600px;
border-radius: 10px;
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 30rem 0 0 9rem;
}

.app {
width: 312px;
height: 642px;
margin-top: -11rem;
margin-left: 10.5rem;
}


/* light orange premium card */
.download_premium {
background-color: var(--soft-red);
border-radius: 10px;
width: 446px;
height: 625px;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 10rem;
}

.download_premium h2 {
color: var(--light-grayish-orange);
margin: 1rem 0 1rem 4rem;
font-size: 40px;
font-family: 'IBM Plex Sans Bold', sans-serif;
} 

.download_premium p {
color: var(--light-grayish-orange);
font-family: 'IBM Plex Reg', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 34px;
margin-left: 4rem;
width: 333px;
position: inherit;
} 

.year{
    margin-top: 3rem;
    font-family: 'IBM Plex Sans Reg', sans-serif;
}

.download_premium span {
font-size: 40px;
font-weight: 600;
}

.download_premium a {
text-decoration: none;
margin-top: 2rem;
margin-left: 4rem;
padding-top: 20px;
}

.apple {
background-color: var(--very-dark-black);
color: var(--light-grayish-orange);
width: 333px;
height: 61px;
border-radius: 10px;
text-align: center;
margin-top: 1rem;
font-family: 'IBM Plex Sans Bold', sans-serif;

}

.icon-apple {
margin: -1px 10px;
}

.icon-android {
margin: -1px 10px;
}

.apple:hover {
background-color: var(--soft-cyan);
}

.android {
background-color: var(--light-grayish-orange);
color: var(--very-dark-black);
width: 333px;
height: 61px;
border-radius: 10px;
text-align: center;
margin-bottom: 2rem;
font-family: 'IBM Plex Sans Bold', sans-serif;
}

.android:hover {
background-color: var(--light-orange);
}
#row1 p{
    width: 100%;
    top: 0;
    left: 0;
}

footer {
margin-top: 19rem;
margin-bottom: 12rem;
}

.footer-logo {
width: 146.093px;
height: 32px;
margin: 1rem 0 0 7rem;
}

.f__reserve {
margin-left: 0rem;
width: 32%;
}

footer span {
color: var(--very-dark-black);
font-weight: 700;

}

.icon-section{
    display: flex;
    justify-content: space-between;
}
.icon-section a{
    text-decoration: none;
}
.icon-section a i{
    color: #191826;
    font-size: 1.5rem;
    padding: 1rem 1rem 0 0;
    transition:.8s ease all ;
}
/* .social-icons {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

} */


.icon-section a i:hover {
/* color: var(--light-grayish-orange); */
color:  #ffb964;
cursor: pointer;
}


/* tablets and ipads------768px to 1023px*/
@media (max-width: 1024px) and (min-width: 768px) {
body{
    background-image: url(assets/bg-main-tablet.png);
    background-repeat: no-repeat;

}

.row h1{
    font-size: 64px;
    line-height: 64px;
    width: 520px;
}

.row p{
    font-family: 'IBM Plex Sans Reg', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 520px;
}

.pattern-1 {
    width: 266.67px;
    height: 400px;
}

.dark_row {
    width: 696px;
    height: 600px;
    margin-left: 4rem;
    margin-top: 23rem;
}

.download_premium {
    height: 546px;
    width: 399px;
    margin-left: -8rem;
    margin-top: 13rem;
}

.download_premium h2{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    width: 302px;
}

.download_premium p{
    font-size: 18px;
    line-height: 28px;
    width: 302px;
}

.download_premium a {
    width: 296px;
    height: 61px;
    margin-left: 2.5rem;
}

.app {
    width: 270.21px;
    height: 556px;
    margin-top: -9rem;
    margin-left: 1rem;
}


footer.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -5rem;
}

.footer-logo {
    margin-left: 7rem;
}

footer .f__reserve p{
    font-size: 16px;
    line-height: 26px;
    margin-left: -15rem;
    width: 45rem;
    margin-top: 5rem;
    
}

.icon-section{
    float: right;
    margin-top: 8rem;
    margin-left: -9rem;
    position: inherit;
}
}


/* phone ---- 0 to 768px*/
@media (max-width: 767px) and (min-width: 320px)
{
body {
    background-image: url(assets/bg-main-mobile.png);
    background-repeat: no-repeat;

}

.logo {
    margin-left: 2rem;
}

.row h1 {
font-family: 'IBM Plex Sans', sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 48px;
position: relative;
top: 2rem;
left: 2rem;
width: 327px;
}

.row p {
font-family: 'IBM Plex Sans', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 30px;
position:  relative;
top: 3rem;
left: 2rem;
width: 327px;
}

.pattern-1 {
    display: none;
}

.dark_row {
    width: auto;
    height: 600px;
    margin-left: 0rem;
    margin-top: 12rem;
    display: block;
   
}

.app {
    width: 208px;
    height: 430px;
    margin-top: 0rem;
    margin-left: 5rem;
    position: relative;
    bottom: 5rem;
}   

.download_premium {
    width: 100%;
    justify-content:space-around;
    height: 600px;
    margin-left: 0rem;
    align-items: center;
    margin-top: 5rem;
    position: relative;
    bottom: 5rem;
    
}

.download_premium h2{
    font-family: 'IBM Plex Sans Reg', sans-serif;
    font-size: 40px;
    margin-top: 2rem;
    margin-left: -4rem;
}

 #ff{
    line-height: 2rem;
    font-size: 16px;
    margin-left: 0;
    width: 300px;
    margin-top: 0rem;
}
p .year{
    margin-top: 0rem;
    font-family: 'IBM Plex Sans Reg', sans-serif;
    font-size: 40px;
}
.download_premium a{
    margin-left: -1rem;
    
}
.apple {
    width: 296px;
    height: 61px;
    font-family: 'IBM Plex Sans Bold', sans-serif;
}

.android {        
    width: 296px;
    height: 61px;
    font-family: 'IBM Plex Sans Bold', sans-serif;
}

footer{
    height: 0rem;
}
footer .row{
    margin: 25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    position: relative;
    top: 4rem;
    margin-bottom: 2rem;
    margin-left: -9.5rem;
}

footer .f__reserve{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    top: 3rem;
    left: 1rem;
    width: 327px;
}

.icon-section{
    margin-top: 5rem;
    margin-left: -10rem;
    margin-bottom: 5rem;
}


}
